body{
  background-color: rgb(247, 187, 187);
  color: #d42323;
  font-family: monospace;
  padding: 10px;
  margin: 5px;
}
h1{
  text-align: center;
  color: #d42323;
  font-size: 30px;
  font-style: oblique;
}

form{
  color: #d42323;
  padding-left: 10px;
  border: #d42323;
  margin-right: 20px;
 }

input[type=text]{
  background-color: rgb(247, 187, 187);
  color: #d42323;
  padding: auto;
}

#addNeed{
background-color: rgb(247, 187, 187);
color: #d42323;
}

#clearList{
  background-color: rgb(247, 187, 187);
  color: #d42323;
}

.list{
  color: #d42323;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  border: 1px solid color(#d42323);
}

.list li{
list-style: none;
background-color: rgb(247, 187, 187);
}