body{
  background-color: hsl(0, 79%, 85%);
  padding: 10px;
  margin: 5px;
}
h1{
  text-align: center;
  color: #d42323;
}

form{
  color: #d42323;
  padding-left: 10px;
  margin-right: 20px;
}

input{
  color: #d42323;
  padding: auto;
}