body{
  background-color: rgb(247, 187, 187);
  font-family: monospace;
  padding: 10px;
  margin: 5px;
}
h1{
  text-align: center;
  color: #d42323;
  font-style: oblique;
}

form{
  color: #d42323;
  padding-left: 10px;
  margin-right: 20px;
 }

input[type=text]{
  background-color: rgb(247, 187, 187);
  color: #d42323;
  padding: auto;
}

#addToCart {
background-color: rgb(247, 187, 187);
}